.App {
  text-align: center;
}


.my-btn{
  width: 100%;
}

.my-btn:focus {
  outline: none;
}

.modal{
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80% !important; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header{
  display: initial !important;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

